<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>CANCIONES CON EL GÉNERO :</h2>
    <ul>
        <% for (let i = 0; i < index.length; i++) { %>
            <li>nombre: <%= index[i].nombre %></li>
            <li>genero: <%= index[i].genero %></li>
            <% } %>
    </ul>
    
</body>
</html>