<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandas</title>
</head>
<body>
    <main>
        <h1>LISTADO BANDAS</h1>
        <ul>

            <% for (let i = 0; i < index.length; i++) { %>
    
                <li> Banda: <a href="bandas/id/<%= index[i].id %>"> <%= index[i].nombre %> </a></li>
                
    
            <% } %>
        </ul>
    
    </main>
</body>
</html>