<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandas</title>
</head>
<body>
    <main>
        <ul>

            <% for (let i = 0; i < index.length; i++) { %>
    
                <li> Banda: <%= index[i].nombre %> </li>
                
    
            <% } %>
        </ul>
    
    </main>
</body>
</html>